# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
env/
# Logs
*.log

# App data
downloads/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
